node_modules
client/node_modules
server/node_modules
client/dist
server/dist
server/.straxor-workspaces
*.log
.git
.gitignore
.env
**/.env
.dockerignore
Dockerfile
verification-screenshots
PROJECT_EXPORT
